{% extends 'base.html.twig' %}

{% block body %}

	<section class="tricks">
		<article>
			<h1>{{ trick.name }}</h1>
			{% for picture in trick.pictures %}
				<img src="{{ asset(picture.link)}}" alt="picture">
			{% endfor %}
			{% for video in trick.videos %}
				{{video.link}}
			{% endfor %}
			<div class="metadata">
				<p>Le
					{{ trick.date ? trick.date|date('d-m-Y à H:i:s')}}
					dans la catégorie
					{{trick.category}}</p>
			</div>
			<div class="content">{{ trick.description }}</div>
		</article>
	</section>


	<h1>Espace de discussion</h1>
	{% if is_granted ('ROLE_USER') %}
		{{ form_start(formComment) }}
		{{ form_row(formComment.content, {'label':'Commenter'}) }}
		<button type="submit" class="btn btn-success">Commenter</button>
		{{form_end(formComment)}}
	{% endif %}


	<section class="comments">
		{% for comment in trick.comments %}
			<div class="comment">
				<div class="metadata">
					<p>Rédigé par
						{{comment.author}}
						le
						{{ comment.date ? comment.date|date('d-m-Y H:i:s') : '' }}</p>
				</div>
				<div class="content">{{comment.content}}</div>
				<br>
			</div>
		{% endfor %}
	</section>


{% endblock %}
